{
  "openapi": "3.1.0",
  "info": {
    "title": "Swordbattle.io Api Docs",
    "version": "latest",
    "license": {
      "name": "GPL v3.0",
      "identifier": "AGPL-3.0-or-later"
    }
  },
  "servers": [
    {
      "url": "https://swordbattle.io/api/"
    }
  ],
  "components": {
    "schemas": {
      "user":{
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "skins":{
            "type":"object"
          },
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "lastusernamechange": {
            "type": "string",
            "format": "date-time"
          },
          "secret":{
            "type": "string",
            "format": "uuidv4"
          },
          "coins": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/buy": {
      "post": {
        "description": "Buy a Cosmetic",
        "operationId": "buyCosmetic",
        "tags": ["Cosmetics"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "secret": {
                    "type": "string"
                  },
                  "item": {
                    "type": "string"
                  }
                },
                "required": ["secret", "item"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item Bought",
            "content": {
              "text/plain": {
                "example": "Succuess"
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "example": "Invalid Secret"
              }
            }
          }
        }
      }
    },
    "/equip": {
      "post": {
        "description": "Equip a Cosmetic",
        "operationId": "equipCosmetic",
        "tags": ["Cosmetics"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "secret": {
                    "type": "string"
                  },
                  "item": {
                    "type": "string"
                  }
                },
                "required": ["secret", "item"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item Equiped",
            "content": {
              "text/plain": {
                "example": "Success"
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "example": "Item not found"
              }
            }
          }
        }
      }
    },
    "/changepassword": {
      "post": {
        "description": "Change Account Password",
        "operationId": "changePassword",
        "tags": ["Account"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "secret": {
                    "type": "string"
                  },
                  "oldPass": {
                    "type": "string",
                    "format": "password"
                  },
                  "newpass": {
                    "type": "string",
                    "format": "password"
                  }
                },
                "required": ["oldPass", "newpass", "secret"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password Changed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": ["Invalid secret", "Invalid password", "Missing fields"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changeusername": {
      "post": {
        "description": "Change account Username",
        "operationId": "changeUsername",
        "tags": ["Account"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "secret": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                },
                "required": ["username", "secret"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success full username change",
            "content": {
              "text/plain": {
                "example": "Success"
              }
            }
          }
        }
      }
    },
    "/signup": {
      "post": {
        "description": "Create an account",
        "operationId": "createAccount",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content":{
            "application/json": {
              "schema": {
                "properties": {
                  "username": {
                    "type":"string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "captcha": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": ["username", "password", "captcha"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account Created",
            "content": {
              "application/json": {
                "schema": {
                  "secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/loginsecret": {
      "post":{
        "description": "Login with secret",
        "operationId": "secretLogin",
        "tags": ["Account"],
        "requestBody":{
          "content":{
            "application/json": {
              "schema": {
                "properties": {
                  "secret": {
                    "type":"string"
                  },
                  "captcha": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged in",
            "content":{
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post":{
        "description": "Login to an account",
        "operationId": "login",
        "tags": ["Account"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "captcha": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log in good",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          }
        }
      }
    }
  }
}
